body{
    overflow-y: hidden;
    overflow-x: hidden;
}
#clock-img{
    z-index: 1;
    position: relative;
    top: 100px;
    left: 330px;
    width: 1200px;
    height: 650px;
    opacity: 0.8;
}

#line-1{
    z-index: 2;
    position: relative;
    font-size: 80px;
    font-weight: bold;
    color: white;
    bottom: 500px;
    left: 100px;
    width: fit-content;
    background: none;
}

#line-2{
    z-index: 2;
    position: relative;
    font-size: 80px;
    font-weight: bold;
    color: white;
    bottom: 550px;
    left: 100px;
    width: fit-content;
    background: none;
}

#line-3{
    z-index: 2;
    position: relative;
    font-size: 80px;
    font-weight: bold;
    color: white;
    bottom: 610px;
    left: 100px;
    width: fit-content;
    background: none;
}

#start-now-btn{
    z-index: 2;
    position: relative;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #BAFF39;
    color: black;
    font-size: 30px;
    font-weight: bold;
    border-color: #BAFF39;
    left: 100px;
    bottom: 650px;
}