<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/nav.css">
</head>
<body>
    <nav id="navbar">
        <img id="logo" src="/static/images/time_tracker_logo.jpg" alt="" srcset="">
        <div id="nav-links">
            <a class="nav-btn"href="/">Home</a>
            <a class="nav-btn"href="#">About Us</a>
            <a class="nav-btn"href="#">Analysis</a>
            <a class="nav-btn"href="/tracker">Start Now</a>
            <a class="nav-btn" id ="login-btn" href="/login">Sign Up/ Login</a>
        </div>
    </nav>
    <div id="container">
        <img id="clock-img" src="/static/images/clock.jpg" alt="" srcset="">
        <div id="text">
            <p id="line-1">The Space</p>
            <p id="line-2">For Time</p>
            <p id="line-3">Lovers</p>
            <!-- <input id="start-now-btn" type="button" value="Start Now"> -->
            <a href="/login"><input id="start-now-btn" type="button" value="Start Now"></a>
        </div>
    </div>
    <script src="/static/js/home.js"></script>
</body>
</html>