<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing Script:wght@600&display=swap" />
</head>

<body>
    <div class="background">
        <img src="/static/images/background.png" alt="" srcset="" id="bg_img">
        <center>
            <p id="time-management">Time Management</p>
        </center>
        <div class="inputBox">
            <input type="text" id="inputField">
            <span id="rectangle" class="">task</span>
            <input type="button" value="start" id="startBtn" class="btn">
            <input type="button" value="stop" id="stopBtn" class="btn">
        </div>
        <div class="displayBox">
        </div>
    </div>
    <div class="container">
        <p id="message" class="fadeInOut"></p>
    </div>
    <div class="buttonContainer">
        <input type="button" value="Urgent/
Important" id="Urgent_Important" class="tasknes">
        <input type="button" value="Urgent/
Not Important" id="Urgent_NotImportant" class="tasknes">
        <input type="button" value="Not Urgent/
Important" id="NotUrgent_Important" class="tasknes">
        <input type="button" value="Not Urgent/
Not Important" id="NotUrgent_NotImportant" class="tasknes">
    </div>
    <script src="../static/js/home.js"></script>
</body>

</html>