<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/nav.css">
</head>
<body>
    <nav id="navbar">
        <img id="logo" src="/static/images/time_tracker_logo.jpg" alt="" srcset="">
        <div id="nav-links">
            <a class="nav-btn"href="/">Home</a>
            <a class="nav-btn"href="#">About Us</a>
            <a class="nav-btn"href="#">Analysis</a>
            <a class="nav-btn"href="/tracker">Start Now</a>
            <a class="nav-btn"href="/login">Sign Up/ Login</a>
        </div>
    </nav>
    <div id="container">
        <div id="form-container">
            <span id="login-text">LOGIN</span>
            <form action="/user/login" method="POST">
                <input id="_id" type="text" name="_id" placeholder="  Username" required>
                <input id="password" type="password" name="password" placeholder="  Password" required>
                <input id="login-btn" type="submit" value="LOGIN">
            </form>
            <a id="forgot-password-link" href="#"><h1 id="forgot-password-link-text">Forgot Password?</h1></a>
            <a id="signup-link" href="/register"><h1 id="signup-link-text">Don't have an account? Sign Up</h1></a>
        </div>
        <img id="hourglass" src="/static/images/hourglass.png" alt="" srcset="">    
    </div>
</body>
</html>