<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
    <nav id="navbar">
        <img id="logo" src="/static/images/time_tracker_logo.jpg" alt="" srcset="">
        <div id="nav-links">
            <a class="nav-btn"href="/">Home</a>
            <a class="nav-btn"href="#">About Us</a>
            <a class="nav-btn"href="#">Analysis</a>
            <a class="nav-btn" id="trackNowBtn" href="#">Track Now</a>
            <a class="nav-btn" id ="loginBtn" href="/login">Sign Up/ Login</a>
        </div>
    </nav>
    <div id="container">
        <div id="form-container">
            <span id="register-text">REGISTER</span>
            <form action="/user/createUser" method="POST">
                <label for="name" id="name-label">Name</label>
                <input id="name" type="text" name="name"required>
                <label for="_id" id="username-label">Username</label>
                <input id="_id" type="text" name="_id"required>
                <label for="email" id="email-label">Email address</label>
                <input id="email" type="text" name="email"required>
                <label for="password" id="password-label">Password</label>
                <input id="password" type="password" name="password"required>
                <label for="confirmPassword" id="confirm-password-label">Confirm Password</label>
                <input id="confirm-password" type="password" name="confirmPassword"required>
                <input id="login-btn" type="submit" value="SIGN UP">
            </form>
        </div>
        <img id="hourglass" src="/static/images/hourglass.png" alt="" srcset="">    
    </div>
</body>
</html>